.track {
	position: relative;

	.actions {
		position: absolute;
		right: 20px;
		top: 0px;
		bottom: 0px;
		display: none;

		a span {
			padding-top: 18px;
			font-size: 120%;
		}
	}

	&:hover .actions {
		display: block;
	}
}
