.actions a {
	color: white;
	margin-left: 10px;
	font-size: 80%;
}

.album {
	position: relative;
	transition: transform 200ms ease;
	cursor: pointer;

	.image {
		margin-bottom: 5px;
	}

	.actions {
		position: absolute;
		right: 20px;
		top: 20px;
		display: none;

		a {
			text-shadow: 0 0 30px black;
			font-size: 150%;
		}
	}
}

.albumlist {
	display: block !important;

	.album {
		display: block;
		width: auto;
		padding: 0.1rem;
	}

	.image {
		padding-top: 0 !important;
	}

	.image img {
		max-width: 30px;
		max-height: 30px;
	}

	h3, a {
		display: inline-block;
	}

	a {
		margin-left: 10px;
	}

	.album:hover .actions {
		display: inline-block;

		a {
			font-size: 100%;
		}
	}
}

.albumgrid:hover {
	.album:hover {
		opacity: 1;

		transform: scale(1.1, 1.1);
		z-index: 2;

		.actions {
			display: inline-block;
		}
	}
	.album {
		opacity: 0.8;
	}
}

#albummodal {
	.column {
		color: white;
	}

	.column.is-active {
		border-left-color: #3273E2;
		color: #55b2de;
	}
}
