@import "albums.scss";
@import "player.scss";

.navbar-item svg {
	margin-left: 10px;
}

.navbar-brand .navbar-item img {
	margin-right: 10px;
}

h1 {
	margin-top: 1em;
}

#plpanel {
	position: fixed;
	right: 10px;
	bottom: 0;
	background: black;
	min-width: 300px;
	z-index: 10;

	.actions {
		display: block;
	}
}

.panel-scrolling {
	max-height: 200px;
	overflow-y: scroll;
}

.panel-collapsed {
	.actions {
		display: none !important;
	}

	.panel-scrolling {
		display: none;
	}
}

.panel-heading .tag.is-rounded {
	margin-left: -5px;
	margin-right: 8px;
}

.notifications {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.notifications .notification {
	margin-bottom: 0.3em;
}

.panel-block, #albummodal .column {
	position: relative;

	.actions {
		position: absolute;
		right: 20px;
		top: 0px;
		bottom: 0px;
		display: none;

		a span {
			padding-top: 11px;
			font-size: 120%;
		}

		form {
			display: inline;
		}

		.button {
			text-decoration: none;
		}
	}

	&:hover .actions {
		display: block;
	}
}

.level-min-100 {
	min-width: 100px;
}

.level-min-200 {
	min-width: 200px;
}

.clip {
	cursor: pointer;
}

.tag.is-danger {
	font-weight: bold;
	background-color: #cc2c4c !important;
}
