<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Mews{% endblock %}</title>
	<link rel="stylesheet" href="/static/bulma.min.css">
	<script defer src="/static/fa.js"></script>
	{% block head %}{% endblock %}
	<style>
		.minitrack {
			display: block;
			text-align: center;
		}
		.minitrack a {
			display: block;
			font-size: 80%;
		}
		.controls {
			margin: 0 0.4em;
		}
	</style>
</head>
<body>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					<!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
					Mew
				</a>

				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="{{ url_for('sync') }}">
						Sync
					</a>

					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							More
						</a>

						<div class="navbar-dropdown">
							<a class="navbar-item">
								About
							</a>
							<a class="navbar-item">
								Jobs
							</a>
							<a class="navbar-item">
								Contact
							</a>
							<hr class="navbar-divider">
							<a class="navbar-item">
								Report an issue
							</a>
						</div>
					</div>
					<div style="margin-left:25%;"></div>
					<a href="#" class="navbar-item">
						<img src="/dummy/?title=Simulation+Theory">
					</a>
					<div class="navbar-item minitrack">
						<a href="#">Algorithm</a>
						<a href="#">Muse</a>
					</div>
					<div id="audioplayer" class="navbar-item field">
						<audio controls="controls" id="audio_player">
							<source src="/tracks/1/">
							Your browser does not support the audio element.
						</audio>
						<!-- <a class="controls fas fa-play"></a>
						<a class="controls fas fa-backward"></a>
						<a class="controls fas fa-forward"></a>
						<progress class="progress is-primary is-small" value="15" max="100">15%</progress> -->
					</div>
				</div>

				<div class="navbar-end">
					<div class="navbar-item field">
						<p class="control has-icons-right">
							<input class="input" type="search" placeholder="Search...">
							<span class="icon is-small is-right">
								<icon />
							</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<main class="container">
		{% block content %}{% endblock %}
	</div>
</body>
</html>
