{% extends "base.html" %}
{% block head %}
	<script src="/static/js/utils.js"></script>
	<script src="/static/js/audio.js"></script>
	<script async src="/static/js/api.js"></script>
	<script async src="/static/js/track.js"></script>
	<script async src="/static/js/playlist.js"></script>
	<script async src="/static/js/player.js"></script>
	<script async src="/static/js/main.js"></script>
{% endblock %}
{% block content %}
	<div class="columns section is-multiline" id="albums"></div>
{% endblock %}
