{% extends "base.html" %}
{% block footerjs %}
	<script src="/static/js/clipboard.min.js"></script>
	<script>
		new ClipboardJS('.clip');
	</script>
{% endblock %}
{% block content %}
	<section class="level section">
		<div class="level-left">
			<div class="level-item has-text-centered level-min-100">
				<div>
					<p class="heading">Artists</p>
					<p class="title">{{ num_artists }}</p>
				</div>
			</div>
			<div class="level-item has-text-centered level-min-100">
				<div>
					<p class="heading">Tracks</p>
					<p class="title">{{ num_tracks }}</p>
				</div>
			</div>
			<div class="level-item has-text-centered level-min-100">
				<div>
					<p class="heading">Albums</p>
					<p class="title">{{ num_albums }}</p>
				</div>
			</div>
		</div>
		<div class="level-right">
			<form class="level-item has-text-centered" method="POST" action="{{ url_for('sync_music') }}">
				<input type="submit" value="Sync Music" class="button is-primary">
			</form>
			<form class="level-item has-text-centered" method="POST" action="{{ url_for('sync_artist') }}">
				<input type="submit" value="Get Artist Info" class="button is-link">
			</form>
			<form class="level-item has-text-centered" method="POST" action="{{ url_for('sync_album') }}">
				<input type="submit" value="Get Album Info" class="button is-link">
			</form>
		</div>
	</section>


	<section class="columns">
		<div class="column is-half">
			<div class="panel">
				<p class="panel-heading">
					<span class="actions is-pulled-right">
						<a href="{{ url_for('replacement_new') }}"><span class="fa fa-plus"></span></a>
						<!-- <a><span class="fa fa-times close"></span></a> -->
					</span>
					<span class="count tag is-rounded is-black">{{ replacements | count }}</span>
					<span class="title is-5">Replacements</span>
				</p>
				<div class="panel-scrolling">
				{% for rep in replacements %}
					<div class="panel-block">
						<div class="actions">
							<a href="{{ url_for('replacement_edit', id=rep.id) }}"><span class="fa fa-edit"></span></a>
							<form action="{{ url_for('replacement_delete', id=rep.id) }}" method="POST">
								<button type="submit" class="button is-text">
									<span class='fa fa-trash'></span>
								</button>
							</form>
						</div>
						{{ rep }}
					</div>
				{% else %}
					<i class="panel-block">No replacements</i>
				{% endfor %}
				</div>
			</div>
		</div>
		<div class="column is-half">
			<div class="panel">
				<p class="panel-heading">
					<span class="actions is-pulled-right">
						<a href="{{ url_for('invite') }}"><span class="fa fa-plus"></span></a>
						<!-- <a><span class="fa fa-times close"></span></a> -->
					</span>
					<span class="count tag is-rounded is-black">{{ users | count }}</span>
					<span class="title is-5">Users</span>
				</p>
				<div class="panel-scrolling">
				{% for u in users %}
					<div class="panel-block">
						<div class="actions">
							{% if u.invite %}
								<a class="clip" data-clipboard-text="{{ url_for('login_invite', invite=u.invite, _external=True) }}">
									<span class="fa fa-copy"></span>
								</a>
							{% endif %}
							<a href="{{ url_for('user_profile_page', username=u.username) }}"><span class="fa fa-edit"></span></a>
							<form action="" method="POST">
								<button type="submit" class="button is-text" {% if u.id == current_user.id %}disabled{% endif %}>
									<span class='fa fa-trash'></span>
								</button>
							</form>
						</div>
						<a href="{{ url_for('user_profile_page', username=u.username) }}">
							{{ u.username }}
						</a>
						{% if u.invite %}
							<span data-clipboard-text="{{ url_for('login_invite', invite=u.invite, _external=True) }}"
									class="tag is-warning clip" style="margin-left: 10px;">Pending Invite</span>
						{% elif u.is_admin %}
							<span class="tag is-primary" style="margin-left: 10px;">Admin</span>
						{% endif %}
					</div>
				{% else %}
					<i class="panel-block">No users</i>
				{% endfor %}
				</div>
			</div>
		</div>
	</section>

	<h1 class="title is-3">Problems</h1>

	<div class="columns is-multiline">
		<div class="column is-one-third">
			<div class="panel">
				<p class="panel-heading">
					<span class="count tag is-rounded {% if unknown_albums %}is-danger{% else %}is-black{% endif %}">{{ unknown_albums | length }}</span>
					<span class="title is-5">Unknown Albums</span>
				</p>
				<div class="panel-scrolling">
				{% for album in unknown_albums %}
					<div class="panel-block">{{ album.title }} by {{ album.artist.name }}</div>
				{% else %}
					<i class="panel-block">All ok!</i>
				{% endfor %}
				</div>
			</div>
		</div>
		<div class="column is-one-third">
			<div class="panel">
				<p class="panel-heading">
					<span class="count tag is-rounded {% if unknown_artists %}is-danger{% else %}is-black{% endif %}">{{ unknown_artists | length }}</span>
					<span class="title is-5">Unknown Artists</span>
				</p>
				<div class="panel-scrolling">
				{% for artist in unknown_artists %}
					<div class="panel-block">{{ artist.name }}</div>
				{% else %}
					<i class="panel-block">All ok!</i>
				{% endfor %}
				</div>
			</div>
		</div>
		<div class="column is-one-third">
			<div class="panel">
				<p class="panel-heading">
					<span class="count tag is-rounded {% if unknown_tracks %}is-danger{% else %}is-black{% endif %}">{{ unknown_tracks | length }}</span>
					<span class="title is-5">Unknown Tracks</span>
				</p>
				<div class="panel-scrolling">
				{% for track in unknown_tracks %}
					<div class="panel-block">{{ track.title }}</div>
				{% else %}
					<i class="panel-block">All ok!</i>
				{% endfor %}
				</div>
			</div>
		</div>
		<div class="column is-one-third">
			<div class="panel">
				<p class="panel-heading">
					<span class="count tag is-rounded {% if missing_album_art %}is-danger{% else %}is-black{% endif %}">{{ missing_album_art | length }}</span>
					<span class="title is-5">Missing Album Art</span>
				</p>
				<div class="panel-scrolling">
				{% for album in missing_album_art %}
					<div class="panel-block">{{ album.title }} by {{ album.artist.name }}</div>
				{% else %}
					<i class="panel-block">All ok!</i>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
