<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Mews{% endblock %}</title>
	<link rel="icon" type="image/png" href="/static/logo.svg">
	<link rel="stylesheet" href="/static/bulma.min.css">
	<link rel="stylesheet" href="/static/mews.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	{% block head %}{% endblock %}
	<script>
		{%- if current_user.is_authenticated %}
			current_user = { id: {{ current_user.id | tojson }},  username: {{ current_user.username | tojson }} }
		{%- else %}
			current_user = null
		{%- endif %}
	</script>
</head>
<body>
	<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
		<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					<img src="/static/logo.svg" width="28" height="28">
					Mews
				</a>

				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					{% if current_user.is_authenticated %}
						{% if current_user.is_admin %}
							<a class="navbar-item" href="{{ url_for("admin") }}">
								Admin
							</a>
						{% endif %}
						<div style="margin-left:25%;"></div>
						<div class="navbar-item" id="player">
							<a href="#">
								<img src="/dummy/?title=Simulation+Theory" id="player-art">
							</a>
							<div class="minitrack">
								<a href="#" id="player-track">Algorithm</a>
								<a href="#" id="player-artist">Muse</a>
							</div>
							<div id="audioplayer">
								<!-- <a class="controls fas fa-play"></a>
								<a class="controls fas fa-backward"></a>
								<a class="controls fas fa-forward"></a>
								<progress class="progress is-primary is-small" value="15" max="100">15%</progress> -->
							</div>
						</div>
					{% else %}
						<!-- <a class="navbar-item" href="{{ url_for('user.login') }}">Sign in</a> -->
					{% endif %}
				</div>

				<div class="navbar-end">
				{% if current_user.is_authenticated %}
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							{{ current_user.username }}
						</a>

						<div class="navbar-dropdown is-right">
							<a class="navbar-item" href="{{ url_for('user_profile_page', username=current_user.username) }}">
								Profile
							</a>
							<hr class="navbar-divider">
							<a class="navbar-item" href="{{ url_for('user.logout') }}">
								Sign out
							</a>
						</div>
					</div>
				{% else %}
					<a class="navbar-item" href="{{ url_for('user.login') }}">
						Login
					</a>
				{% endif %}
				</div>
			</div>
		</div>
	</nav>

	{% block main %}
		<main class="container">
			{% block content %}{% endblock %}
		</main>
	{% endblock %}

	{%- with messages = get_flashed_messages(with_categories=true) -%}
	{% if messages %}
		<div class="notifications ">
		{% for category, message in messages %}
			{% if category == "error" %}
				{% set category = "danger" %}
			{% endif %}
			<div class="notification container is-{{ category }}">
				<button class="delete"></button>
				{{ message | safe }}
			</div>
		{% endfor %}
		</div>
	{% endif %}
	{%- endwith %}

	<script async src="/static/js/bulma.js"></script>
	{% block footerjs %}{% endblock %}
</body>
</html>
