{% extends "base.html" %}
{% block footerjs %}
	<script type="module" src="/static/js/rjs.js"></script>
	<script type="module" src="/static/js/models/album.js"></script>
	<script type="module" src="/static/js/models/playlist.js"></script>
	<script type="module" src="/static/js/models/track.js"></script>
	<script type="module" src="/static/js/controllers/audio.js"></script>
	<script type="module" src="/static/js/controllers/player.js"></script>
	<script type="module" src="/static/js/views/tracks.js"></script>
	<script type="module" src="/static/js/views/album.js"></script>
	<script type="module" src="/static/js/views/playing.js"></script>
	<script type="module" src="/static/js/api.js"></script>
	<script type="module" src="/static/js/main.js"></script>
{% endblock %}
{% block content %}
	<section class="level" style="margin-top: 1.5rem;">
		<div class="level-left">
			<div class="level-item">
				<div class="buttons has-addons">
					<span class="button is-info is-selected"><i class="fas fa-compact-disc"></i></span>
					<span class="button"><i class="fas fa-user"></i></span>
					<span class="button"><i class="fas fa-music"></i></span>
				</div>
			</div>
			<div class="level-item">
				<div class="buttons has-addons">
					<span class="button is-info is-selected"><i class="fas fa-th-large"></i></span>
					<span class="button"><i class="fas fa-list"></i></span>
				</div>
			</div>
		</div>
		<div class="level-right">
			<div class="level-item">
				<input id="search" type="text" placeholder="Search" class="input">
			</div>
		</div>
	</section>

	<div class="columns section is-multiline" id="albums"></div>

	<div id="albummodal" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Simulation Theory</p>
				<button class="delete" aria-label="close"></button>
			</header>
			<section class="modal-card-body columns is-multiline">
			</section>
		</div>
	</div>

	<nav id="plpanel" class="panel">
		<p class="panel-heading">
			<span class="actions is-pulled-right">
				<a><span class="fa fa-window-minimize minimize"></span></a>
				<!-- <a><span class="fa fa-times close"></span></a> -->
			</span>
			<span class="count tag is-rounded is-black">0</span>
			<span class="title is-5">Playlist</span>
		</p>
		<div class="panel-scrolling"></div>
	</nav>
{% endblock %}
